:root {
  --main: #323264;
  --main-alt: #46466E;
  --main-soft: #686887;
  --accent: #F0145A;
  --active-regular: #24A3FF;
  --acvtive-hover: #0085FF;
  --active: #006CCF;
  --grey: #F5F5FA;
  --grey-bg-alt: #EDEDF7;
  --grey-text: #B3B3BA;
  --grey-separator: #E6E6F0;
  --gradient-main: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
  --gradient-soft: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
  --gradient-red: linear-gradient(323.35deg, #F0145A 6.7%, #693264 70.36%);
  --gradient-supersoft: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  --gradient-red-text: linear-gradient(270.13deg, #F0145A 0.84%, #EF8080 99.96%);
  --gradient-red-text-l: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/montserrat-v25-latin_cyrillic-100.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-100.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/montserrat-v25-latin_cyrillic-200.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-200.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat-v25-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-300.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-700.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.body {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-style: normal;
}

.conteiner {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: var(--gradient-red-text-l);
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 10%;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
  gap: 15px;
  padding: 0 15px 10px 15px;
  width: 100%;
}

.header__wrap {
  position: relative;
  background: url(../img/header-bg-img.svg), var(--gradient-supersoft);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 524px 600px, cover;
  border-radius: 0 0 12px 12px;
}

.header__wrap::before {
  content: '';
  background: #E7E7F2;
  height: 10px;
  border-radius: 0 0 12px 12px;
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: -20px;
}

.header__wrap::after {
  content: '';
  background: #CACADB;
  height: 10px;
  border-radius: 0 0 12px 12px;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: -10px;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: span 2;
  padding: 10px 15px 10px 15px;
  margin: 0 -15px;
  background: rgba(245, 245, 250, 0.2);
}

.header__info--white {
  background: var(--grey);
}

.header__info-lang {
  display: inline-block;
  padding: 5px 7px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-transform: uppercase;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.header__info-lang:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.header__info-lang--active {
  background-color: var(--accent);
}

.header__info-lang--active:hover {
  background-color: var(--accent);
}

.header__info-lang--white {
  color: var(--grey-text);
}

.header__info-lang--white:hover {
  background: var(--grey);
}

.header__info-tel {
  display: inline-block;
  margin-left: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #FFFFFF;
}

.header__info-tel--white {
  color: var(--grey-text);
}

.header__info-adress {
  display: none;
}

.header__info-facebook {
  display: none;
}

.header__logo {
  justify-self: start;
  -ms-flex-item-align: start;
      align-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo-page {
  position: relative;
  top: -7px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--main);
}

.header__logo-page::before {
  content: '';
  display: inline-block;
  position: relative;
  height: 26px;
  width: 4px;
  background-color: var(--accent);
  -webkit-transform: skewX(340deg);
          transform: skewX(340deg);
  margin: 0 7px;
  bottom: -7px;
}

.header__nav {
  justify-self: end;
}

.header__nav-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 8px;
}

.header__nav-btn:active {
  background-color: var(--grey-separator);
}

.header__nav-btn--white path {
  stroke: var(--main);
}

.header__nav-menu {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px 12px 12px 12px;
  border-radius: 12px;
  background-color: #FFFFFF;
  grid-column: 1/ 3;
}

.header__nav-menu-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 27px;
  border-radius: 8px;
}

.header__nav-menu-btn:active {
  background-color: var(--grey-separator);
}

.header__nav-menu-link {
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: var(--active-regular);
  padding: 7px 20px;
  margin-bottom: 15px;
  border-radius: 12px;
  background-color: var(--grey);
}

.header__nav-menu-link:active {
  background-color: var(--grey-separator);
}

.header__nav-menu-link--white-active {
  color: var(--accent);
}

@media screen and (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 30px 60px 30px;
  }
  .header__wrap {
    background-size: 893px 1024px, cover;
  }
  .header__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    margin-bottom: 3px;
  }
  .header__info-adress {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #FFFFFF;
  }
  .header__info-adress--white {
    color: var(--grey-text);
  }
  .header__info-tel {
    margin-left: 0px;
  }
  .header__info-facebook {
    display: block;
  }
  .header__info-facebook::before {
    content: '';
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    margin: 0 2px 0 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--grey-separator);
    top: -7px;
  }
  .header__info-facebook:hover path {
    -webkit-transition: 300ms;
    transition: 300ms;
    fill: var(--accent);
  }
  .header__info-facebook--white path {
    fill: var(--grey-text);
  }
  .header__info--circle::before {
    content: '';
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    margin: 0 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--grey-separator);
    top: -2px;
  }
  .header__logo {
    margin-bottom: 10px;
  }
  .header__logo-img {
    width: 130px;
    height: 60px;
  }
  .header__logo-page {
    font-size: 36px;
    line-height: 44px;
    top: -13px;
  }
  .header__logo-page::before {
    width: 6px;
    height: 47px;
    bottom: -12px;
    margin-left: 12px;
    margin-right: 10px;
    -webkit-transform: skewX(343deg);
            transform: skewX(343deg);
  }
  .header__nav-btn {
    display: none;
  }
  .header__nav-menu {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
    background-color: transparent;
  }
  .header__nav-menu-btn {
    display: none;
  }
  .header__nav-menu-link {
    width: auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #FFFFFF;
    padding: 0;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .header__nav-menu-link:not(:last-child) {
    margin-right: 16px;
  }
  .header__nav-menu-link:hover {
    border-bottom-color: #FFFFFF;
  }
  .header__nav-menu-link:active {
    background-color: transparent;
  }
  .header__nav-menu-link--white {
    color: var(--active-regular);
  }
  .header__nav-menu-link--white-active {
    color: var(--accent);
    border-bottom-color: var(--accent);
  }
  .header__nav-menu-link--white:hover {
    border-bottom-color: var(--active-regular);
  }
  .header__nav-menu .header__nav-menu-link--white-active:hover {
    border-bottom-color: var(--accent);
  }
}

@media screen and (min-width: 1024px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 60%;
    gap: 0;
  }
  .header__wrap {
    background-size: 670px 768px, cover;
  }
  .header__info {
    padding: 11px 15px 11px 15px;
    grid-column: 2 / 3;
    margin-bottom: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__logo {
    padding-top: 11px;
    grid-row: 1 / 3;
    margin-bottom: 0;
  }
  .header__nav-menu {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 40px 30px 60px 30px;
  }
  .header__wrap {
    background-size: 697px 799px, cover;
  }
}

.legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 123px;
  padding-bottom: 45px;
}

.legal__title {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 160px;
}

.legal__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 42px;
  height: 42px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.legal__btn path {
  -webkit-transition: 300ms;
  transition: 300ms;
}

.legal__btn:hover path {
  stroke: var(--accent);
}

.legal__btn:hover {
  border-color: var(--accent);
}

.legal__modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: var(--main);
  overflow: auto;
}

.legal__modal.is-hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .legal {
    padding-top: 198px;
  }
  .legal__title {
    margin-bottom: 417px;
  }
}

@media screen and (min-width: 1024px) {
  .legal {
    padding-top: 235px;
  }
  .legal__title {
    margin-bottom: 240px;
  }
}

@media screen and (min-width: 1440px) {
  .legal {
    padding-top: 250px;
  }
  .legal__title {
    margin-bottom: 255px;
  }
}

.modal {
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 100%;
  height: 100vh;
  background-color: var(--grey);
  padding: 30px;
  overflow: auto;
}

.modal__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: var(--gradient-red-text-l);
  margin-bottom: 30px;
}

.modal__btn {
  justify-self: end;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 8px;
}

.modal__btn:hover {
  background-color: var(--grey-separator);
}

.modal__form {
  grid-column: 1 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__form-input {
  width: 100%;
  padding: 14px;
  border: 1px solid transparent;
  border-radius: 8px;
  margin-bottom: 15px;
  outline: none;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
}

.modal__form-input::-webkit-input-placeholder {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: var(--grey-text);
}

.modal__form-input::-moz-placeholder {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: var(--grey-text);
}

.modal__form-input:-ms-input-placeholder {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: var(--grey-text);
}

.modal__form-input::-ms-input-placeholder {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: var(--grey-text);
}

.modal__form-input::placeholder {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: var(--grey-text);
}

.modal__form-input:focus {
  border-color: var(--active-regular);
}

.modal__form-input:disabled {
  background: var(--grey-bg-alt);
  border: 1px solid var(--grey-bg-alt);
}

.modal__form-mgs {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  height: 130px;
  resize: none;
}

.modal__form-mgs::-webkit-input-placeholder {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: var(--grey-text);
}

.modal__form-mgs::-moz-placeholder {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: var(--grey-text);
}

.modal__form-mgs:-ms-input-placeholder {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: var(--grey-text);
}

.modal__form-mgs::-ms-input-placeholder {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: var(--grey-text);
}

.modal__form-mgs::placeholder {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: var(--grey-text);
}

.modal__form-subtitle {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--grey-text);
  margin: 15px 0;
}

.modal__form-btn {
  cursor: pointer;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background: var(--active-regular);
  -webkit-box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
          box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border: none;
  border-radius: 12px;
  padding: 18px;
  margin-top: 15px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.modal__form-btn:hover {
  background-color: var(--acvtive-hover);
}

.modal__form-btn:active {
  background-color: var(--active);
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    max-width: 650px;
    max-height: 612px;
    -webkit-box-shadow: 0px 15px 80px rgba(40, 40, 86, 0.5);
            box-shadow: 0px 15px 80px rgba(40, 40, 86, 0.5);
    border-radius: 12px;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}

.consistent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.consistent__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  padding-left: 30px;
  padding-bottom: 15px;
}

.consistent__nav::-webkit-scrollbar {
  width: 0px;
}

.consistent__nav-btn {
  cursor: pointer;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 1px;
  color: var(--grey-text);
  background-color: transparent;
  border: none;
  white-space: nowrap;
  margin-right: 30px;
}

.consistent__nav-btn:hover {
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: var(--gradient-red-text);
}

.consistent__nav-btn--active {
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: var(--gradient-red-text);
}

.consistent__arcticles-card {
  padding-top: 30px;
  border-top: 4px solid rgba(255, 255, 255, 0.3);
}

.consistent__arcticles-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.consistent__arcticles-text {
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .consistent {
    padding-top: 45px;
    padding-bottom: 60px;
  }
  .consistent__nav-btn {
    font-size: 38px;
    line-height: 46px;
    letter-spacing: 2px;
  }
  .consistent__arcticles {
    padding-top: 28px;
  }
  .consistent__arcticles-card {
    padding-top: 60px;
  }
  .consistent__arcticles-title {
    font-size: 30px;
    line-height: 37px;
  }
}

@media screen and (min-width: 1024px) {
  .consistent {
    padding-top: 45px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .consistent__arcticles-card {
    padding-top: 0;
    border: none;
  }
  .consistent__nav {
    width: 49%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 14px 60px 14px 0;
    border-bottom: none;
    border-right: 4px solid rgba(255, 255, 255, 0.3);
  }
  .consistent__nav-btn {
    margin-right: 0;
  }
  .consistent__nav-btn:not(:last-child) {
    margin: 0 0 30px 0;
  }
  .consistent__arcticles {
    padding: 0 0 0 51px;
    width: 50%;
  }
}

@media screen and (min-width: 1440px) {
  .consistent {
    max-width: 1380px;
    margin: 0 auto;
    padding: 45px 0 60px 0;
  }
  .consistent__nav {
    width: 43%;
  }
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 15px;
  padding-bottom: 60px;
}

.services__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--active-regular);
  margin-bottom: 10px;
}

.services__link::after {
  content: '';
  position: relative;
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: transparent;
  border-top: 2px solid var(--active-regular);
  border-right: 2px solid var(--active-regular);
  margin-left: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -2px;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-transition-property: left;
  transition-property: left;
}

.services__link:hover {
  color: var(--acvtive-hover);
}

.services__link:hover::after {
  border-color: var(--acvtive-hover);
  left: 3px;
}

.services__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 30px;
}

.services__grid {
  display: grid;
  gap: 30px;
}

.services__grid-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.services__grid-card-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: var(--active-regular);
  -webkit-transition: 300ms;
  transition: 300ms;
  margin-bottom: 15px;
}

.services__grid-card-title:hover {
  color: var(--acvtive-hover);
}

.services__grid-card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.services__grid-card::before {
  content: url(../img/services-card-img-01.svg);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 92px;
  height: 92px;
  background-color: #FFFFFF;
  border-radius: 24px;
  margin-bottom: 30px;
}

.services__grid-card--02::before {
  content: url(../img/services-card-img-02.svg);
}

.services__grid-card--03::before {
  content: url(../img/services-card-img-03.svg);
}

.services__grid-card--04::before {
  content: url(../img/services-card-img-04.svg);
}

.services__grid-card--05::before {
  content: url(../img/services-card-img-05.svg);
}

.services__grid-card--06::before {
  content: url(../img/services-card-img-06.svg);
}

@media screen and (min-width: 768px) {
  .services {
    padding-top: 0;
  }
  .services__title {
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 60px;
  }
  .services__grid {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .services__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

.team__slider {
  width: 100%;
}

.team__slider-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: var(--grey);
  border-radius: 12px;
}

.team__slider-card-img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px 12px 0 0;
  margin-bottom: 13px;
}

.team__slider-card-main {
  padding: 15px 30px 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.team__slider-card-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--active-regular);
  margin-bottom: 5px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.team__slider-card-link::after {
  content: '';
  position: relative;
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: transparent;
  border-top: 2px solid var(--active-regular);
  border-right: 2px solid var(--active-regular);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -2px;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-transition-property: left;
  transition-property: left;
}

.team__slider-card-link:hover {
  color: var(--acvtive-hover);
}

.team__slider-card-link:hover::after {
  border-color: var(--acvtive-hover);
  left: 3px;
}

.team__slider-card-say {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  word-break: break-word;
  margin-bottom: 30px;
}

.team__slider-card-name {
  width: 90%;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--grey-text);
  margin-bottom: 6px;
}

.team__slider-card-job-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--grey-text);
}

.team__nav {
  padding-top: 23px;
}

.team__nav-btn {
  cursor: pointer;
  border: none;
  font-size: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--active-regular);
  opacity: 0.2;
  margin-right: 15px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.team__nav-btn:hover {
  opacity: 0.6;
}

.team__nav .team__nav-btn--active {
  opacity: 1;
}

.team__nav .team__nav-btn--active:hover {
  background-color: var(--active-regular);
}

@media screen and (min-width: 768px) {
  .team {
    padding-top: 80px;
  }
  .team__slider-card-say {
    font-size: 38px;
    line-height: 46px;
  }
}

@media screen and (min-width: 1024px) {
  .team__slider-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .team__slider-card-img {
    width: 400px;
    height: 528px;
    border-radius: 12px 0px 0px 12px;
    margin-bottom: 0;
  }
  .team__slider-card-main {
    padding: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .team__slider-card-img {
    height: 344px;
  }
}

.client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.client__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--main);
  margin-bottom: 30px;
}

.client__main {
  align-self: stretch;
  display: grid;
}

.client__main-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client__main-card--01 {
  background: #1C4280;
}

.client__main-card--02 {
  background: #143646;
}

.client__main-card--03 {
  background: -webkit-gradient(linear, left bottom, left top, from(#F48B30), to(#F48B30)), #F48B30;
  background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
}

.client__main-card--04 {
  background: #9E4DC3;
}

.client__main-card--05 {
  background: #FD9339;
}

.client__main-card--06 {
  background: #E2E2E4;
}

.client__main-card--07 {
  background: #C71C36;
}

.client__main-card--08 {
  background: #DCF3F9;
}

.client__main-card--09 {
  background: #EAEAEA;
}

.client__main-card--10 {
  background: #282240;
}

.client__main-card--11 {
  background: #1D4568;
}

.client__main-card--12 {
  background: #000000;
}

.client__main-card--is-hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .client__main {
    grid-template-columns: repeat(3, 1fr);
  }
  .client__main-card--is-hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .client__main {
    grid-template-columns: repeat(4, 1fr);
  }
}

.publications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 30px;
}

.publications__wrap {
  background-color: var(--grey);
}

.publications__link {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--active-regular);
  margin-bottom: 5px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.publications__link::after {
  content: '';
  position: relative;
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: transparent;
  border-top: 2px solid var(--active-regular);
  border-right: 2px solid var(--active-regular);
  margin-left: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -2px;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-transition-property: left;
  transition-property: left;
}

.publications__link:hover {
  color: var(--acvtive-hover);
}

.publications__link:hover::after {
  border-color: var(--acvtive-hover);
  left: 3px;
}

.publications__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 30px;
}

.publications--white {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.publications__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  padding: 2px;
  border-radius: 12px;
  background-color: var(--grey-separator);
}

.publications__nav-btn {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--main);
  border: none;
  background-color: transparent;
  border-radius: 10px;
  padding: 8px 30px 10px 30px;
}

.publications__nav-btn:not(:last-child) {
  margin-right: 2px;
}

.publications__nav-btn:hover {
  background-color: var(--grey);
}

.publications__nav-btn--active {
  background-color: #FFFFFF;
}

.publications__nav-btn--active:hover {
  background-color: #FFFFFF;
}

.publications__grid {
  display: grid;
  gap: 30px;
}

.publications__grid-card {
  background: #FFFFFF;
  border-radius: 8px;
}

.publications__grid-card-img {
  display: block;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.publications__grid-card-main {
  padding: 30px;
}

.publications__grid-card-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--active-regular);
  margin-bottom: 15px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.publications__grid-card-title:hover {
  color: var(--acvtive-hover);
}

.publications__grid-card-the-date {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--grey-text);
  padding-bottom: 15px;
  border-bottom: 4px solid var(--grey-separator);
  margin-bottom: 15px;
}

.publications__grid-card-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

.publications__btn {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background: var(--active-regular);
  -webkit-box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
          box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border: none;
  border-radius: 12px;
  padding: 18px 30px;
  margin-top: 30px;
  margin-bottom: 60px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.publications__btn:hover {
  background-color: var(--acvtive-hover);
}

.publications__btn:active {
  background-color: var(--active);
}

@media screen and (min-width: 768px) {
  .publications__link {
    margin-bottom: 10px;
  }
  .publications__title {
    font-size: 38px;
    line-height: 46px;
  }
  .publications__grid {
    grid-template-columns: 1fr 1fr;
  }
  .publications__grid-card--2x {
    grid-column: 1 / 3;
  }
}

@media screen and (min-width: 1024px) {
  .publications__grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .publications__grid-card--2x {
    grid-column: 3 / 4;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__wrap {
  margin-top: auto;
  background-color: var(--grey);
}

.footer__border {
  border-top: 2px solid var(--grey-separator);
}

.footer--no-border {
  border: none;
}

.footer__block-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__block-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__adress {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--main);
  margin-bottom: 10px;
}

.footer__map {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--active-regular);
  margin-bottom: 20px;
}

.footer__facebook {
  margin-bottom: 6px;
}

.footer__facebook path {
  -webkit-transition: 300ms;
  transition: 300ms;
}

.footer__facebook:hover path {
  fill: var(--accent);
}

.footer__tel {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-alt);
  margin-bottom: 10px;
}

.footer__email {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--active-regular);
  margin-bottom: 30px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.footer__email:hover {
  color: var(--accent);
}

.footer__copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--grey-text);
}

@media screen and (min-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: 55% 1fr;
  }
  .footer__block-one {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 21px;
  }
  .footer__block-two {
    grid-column: 1 / 3;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__adress {
    margin: 0;
  }
  .footer__map {
    margin: 0;
  }
  .footer__facebook {
    margin: 0;
  }
  .footer__tel {
    margin: 0;
  }
  .footer__email {
    margin: 0;
  }
  .footer__copyright {
    margin: 0;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
    align-self: baseline;
  }
  .footer--circle::before {
    content: '';
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    margin: 0 10px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--grey-text);
    top: -2px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__block-one {
    margin-bottom: 18px;
  }
}

.turn {
  display: grid;
  padding-bottom: 30px;
}

.turn__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 28px;
}

.turn__text {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}

.turn__progress {
  padding-left: 33px;
  border-left: 4px solid var(--grey-separator);
  margin-top: 11px;
}

.turn__progress-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: transparent;
  background: var(--gradient-red-text-l);
  -webkit-background-clip: text;
          background-clip: text;
  margin-bottom: 10px;
}

.turn__progress-title--01::before {
  content: url(../img/turn-bg-img-01.svg);
  display: inline-block;
  margin-right: 14px;
}

.turn__progress-title--02::before {
  content: url(../img/turn-bg-img-02.svg);
  display: inline-block;
  margin-right: 14px;
}

.turn__progress-title--03::before {
  content: url(../img/turn-bg-img-03.svg);
  display: inline-block;
  margin-right: 14px;
}

.turn__progress-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--main);
}

.turn__progress-text:not(:last-child) {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .turn {
    padding-bottom: 58px;
  }
  .turn__title {
    font-size: 38px;
    line-height: 46px;
  }
}

@media screen and (min-width: 1024px) {
  .turn {
    grid-template-columns: 55% 1fr;
    grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content min-content;
    padding-bottom: 41px;
  }
  .turn__progress {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    align-self: start;
    margin-left: 19px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1440px) {
  .turn {
    width: 83%;
    grid-template-columns: 62% 1fr;
    grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content min-content;
    padding-bottom: 12px;
  }
}

.about-team {
  padding-bottom: 60px;
}

.about-team__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 35px 0;
  background: url(../img/about-team-bg-img.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
}

@media (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
  .about-team__header {
    background: url(../img/about-team-bg-img@2x.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
}

.about-team__header-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 13px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.8;
  text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
}

.about-team__main {
  display: grid;
}

.about-team__main-text {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 20px;
}

.about-team__main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .about-team__header {
    padding: 90px 0;
    margin-bottom: 60px;
  }
  .about-team__header-title {
    font-size: 46px;
    line-height: 56px;
    letter-spacing: 63px;
  }
  .about-team__main-text {
    font-size: 19px;
  }
  .about-team__main-title {
    font-size: 38px;
    line-height: 46px;
  }
}

@media screen and (min-width: 1024px) {
  .about-team {
    padding-bottom: 40px;
  }
  .about-team__header {
    padding: 103px 0;
  }
  .about-team__header-title {
    font-size: 86px;
    line-height: 105px;
    letter-spacing: 63px;
  }
  .about-team__main {
    grid-template-columns: 60% 1fr;
    grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content min-content;
  }
  .about-team__main-text {
    font-size: 20px;
    margin-right: 60px;
  }
  .about-team__main-title {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    margin-top: 0;
  }
}

@media screen and (min-width: 1440px) {
  .about-team__header {
    padding: 161px 0;
  }
  .about-team__header-title {
    font-size: 96px;
    line-height: 117px;
    letter-spacing: 63px;
  }
  .about-team__main {
    width: 83%;
    grid-template-columns: 66% 1fr;
  }
  .about-team__main-text {
    font-size: 19px;
  }
}

.about-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 60px;
}

.about-slider__wrap {
  background-color: var(--grey);
}

.about-slider__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--main);
  margin-bottom: 30px;
}

.about-slider__main {
  align-self: stretch;
  display: grid;
  grid-template-columns: repeat(4, 100%);
  gap: 40px;
  overflow: auto;
  margin-bottom: 5px;
}

.about-slider__main::-webkit-scrollbar {
  width: 0px;
}

.about-slider__main-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  background: #FFFFFF;
  border-radius: 12px;
  padding: 5px;
}

.about-slider__main-card-img {
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-slider__nav-btn {
  cursor: pointer;
  border: none;
  font-size: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--active-regular);
  opacity: 0.2;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.about-slider__nav-btn:not(:last-child) {
  margin-right: 10px;
}

.about-slider__nav-btn:hover {
  opacity: 0.6;
}

.about-slider__nav .about-slider__nav-btn--active {
  opacity: 1;
}

.about-slider__nav .about-slider__nav-btn--active:hover {
  background-color: var(--active-regular);
}

@media screen and (min-width: 768px) {
  .about-slider__main {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 21px;
  }
  .about-slider__nav-btn.is-hidden {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .about-slider__main-card {
    width: 196px;
    height: 110px;
  }
  .about-slider__main-card-img {
    height: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .about-slider {
    padding: 30px 30px;
  }
  .about-slider__main-card {
    justify-self: stretch;
    width: 100%;
  }
}

.crew {
  padding-top: 20px;
  padding-bottom: 60px;
}

.crew__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 30px;
}

.crew__grid {
  display: grid;
  gap: 30px;
}

.crew__grid-card {
  display: grid;
  grid-template-columns: 80% 1fr;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content min-content;
}

.crew__grid-card a {
  grid-column: 1 / 3;
}

.crew__grid-card-img {
  grid-row: 1 / 2;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}

.crew__grid-card-name {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--main);
}

.crew__grid-card-job-title {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--grey-text);
  margin-bottom: 5px;
}

.crew__grid-card-link {
  grid-column: 2 / 3;
  grid-row: 2 /4;
  align-self: start;
  justify-self: end;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--grey);
  translate: 300ms;
}

.crew__grid-card-link:hover path {
  stroke: var(--accent);
}

@media screen and (min-width: 768px) {
  .crew {
    padding-top: 0;
  }
  .crew__title {
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 60px;
  }
  .crew__grid {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
  .crew__grid-card-img {
    height: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .crew {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .crew__title {
    -ms-flex-item-align: center;
        align-self: center;
    width: 70%;
  }
  .crew__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.worker {
  padding-top: 20px;
  padding-bottom: 15px;
}

.worker__img {
  width: 100%;
  height: 375px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  margin-bottom: 30px;
}

.worker__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.worker__info-title {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  margin-bottom: 15px;
}

.worker__info-job-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--grey-text);
  margin-bottom: 10px;
}

.worker__info-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--active-regular);
  margin-bottom: 10px;
}

.worker__info-mail:hover {
  color: var(--accent);
}

.worker__info-linked {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--active-regular);
  margin-bottom: 30px;
}

.worker__info-linked:hover {
  color: var(--accent);
}

.worker__main {
  padding-top: 30px;
  border-top: 4px solid var(--grey-separator);
}

.worker__main-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
}

.worker__main-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--main);
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .worker {
    display: grid;
    grid-template-columns: 43% 1fr;
    gap: 30px;
    padding-top: 0;
    padding-bottom: 45px;
  }
  .worker__img {
    margin: 0;
  }
  .worker__info {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .worker__main {
    grid-column: 1 / 3;
  }
}

@media screen and (min-width: 1024px) {
  .worker {
    grid-template-columns: 31% 1fr;
    gap: 30px 60px;
  }
  .worker__img {
    grid-row: 1 / 3;
  }
  .worker__info-linked {
    margin: 0;
  }
  .worker__main {
    grid-column: 2 / 3;
  }
}

@media screen and (min-width: 1440px) {
  .worker {
    width: 85%;
    margin: 0 auto;
    grid-template-columns: -webkit-min-content 1fr;
    grid-template-columns: min-content 1fr;
  }
  .worker__img {
    width: 400px;
    height: 500px;
  }
  .worker__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .worker__info-title {
    width: 100%;
  }
  .worker__info-job-title {
    margin-bottom: 0;
  }
  .worker__info-mail {
    margin: 0;
  }
  .worker__info--circle::before {
    content: '';
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    margin: 0 10px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top: -2px;
    background-color: var(--grey-separator);
  }
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.contact {
  padding-top: 20px;
  padding-bottom: 30px;
}

.contact__info {
  margin-bottom: 31px;
}

.contact__info-adress {
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: var(--main);
  padding-bottom: 30px;
  border-bottom: 4px solid var(--grey-separator);
}

.contact__info-tel-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-top: 30px;
  margin-bottom: 30px;
  border-bottom: 4px solid var(--grey-separator);
}

.contact__info-tel {
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: var(--main-alt);
  margin-bottom: 15px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.contact__info-mail {
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: var(--active-regular);
  margin-bottom: 30px;
  -webkit-transition: 300ms;
  transition: 300ms;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.contact__info-mail:hover {
  color: var(--accent);
}

.contact__info-facebook {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--active-regular);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.contact__info-facebook-img {
  margin-right: 10px;
}

.contact__info-facebook-img path {
  -webkit-transition: 300ms;
  transition: 300ms;
}

.contact__info-facebook:hover {
  color: var(--accent);
}

.contact__info-facebook:hover path {
  fill: var(--accent);
}

.contact__form {
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 100%;
  background-color: var(--grey);
  padding: 30px;
  border-radius: 12px;
}

@media screen and (min-width: 768px) {
  .contact {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .contact {
    width: 80%;
    margin: 0 auto;
  }
}

.publication-artile {
  padding-top: 20px;
}

.publication-artile__img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  margin-bottom: 30px;
}

.publication-artile__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--main);
  margin-bottom: 15px;
}

.publication-artile__time {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--grey-text);
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 4px solid var(--grey-separator);
}

.publication-artile__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
}

.publication-artile__text--big-mr {
  margin-bottom: 97px;
}

.publication-artile__second-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-alt);
  margin-bottom: 15px;
}

.publication-artile__list {
  padding-left: 30px;
}

.publication-artile__list-item {
  margin-bottom: 15px;
}

.publication-artile__list-item:last-child {
  margin-bottom: 30px;
}

.publication-artile__list-item::marker {
  color: var(--accent);
  margin-right: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.publication-artile__img-content {
  width: 100%;
  height: 195px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 15px;
}

.publication-artile__discription-img {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: var(--grey-text);
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .header__nav-menu.is-hidden {
    display: none;
  }
  .no-scroll {
    overflow: hidden;
  }
}

.consistent__arcticles-card.is-hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
