.about-team {
    padding-bottom: 60px;
    &__header {
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 35px 0;
        background: url(../img/about-team-bg-img.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 30px;
        @media (min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
            background: url(../img/about-team-bg-img@2x.jpg);
            background-repeat: no-repeat;
            background-position: center top;
            background-size: cover;
        }
        &-title {
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            letter-spacing: 13px;
            text-transform: uppercase;
            color: #ffffff;
            opacity: 0.8;
            text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
        }
    }
    &__main {
        display: grid;
        &-text {
            font-weight: 300;
            font-size: 20px;
            line-height: 30px;
            color: #000000;
            margin-bottom: 20px;
        }
        &-title {
            font-weight: 700;
            font-size: 30px;
            line-height: 37px;
            color: transparent;
            background: var(--gradient-red-text-l);
            background-clip: text;
            margin-top: 10px;
        }
    }
}
@media screen and (min-width: 768px) {
    .about-team {
        &__header {
            padding: 90px 0;
            margin-bottom: 60px;
            &-title {
                font-size: 46px;
                line-height: 56px;
                letter-spacing: 63px;
            }
        }
        &__main {
            &-text {
                font-size: 19px;
            }
            &-title {
                font-size: 38px;
                line-height: 46px;
            }
        }
    }
}
@media screen and (min-width: 1024px) {
    .about-team {
        padding-bottom: 40px;
        &__header {
            padding: 103px 0;
            &-title {
                font-size: 86px;
                line-height: 105px;
                letter-spacing: 63px;
            }
        }
        &__main {
            grid-template-columns: 60% 1fr;
            grid-template-rows: min-content min-content min-content;
            &-text {
                font-size: 20px;
                margin-right: 60px;
            }
            &-title {
                grid-column: 2 / 3;
                grid-row: 1 / 4;
                margin-top: 0;
            }
        }
    }
}
@media screen and (min-width: 1440px) {
    .about-team {
        &__header {
            padding: 161px 0;
            &-title {
                font-size: 96px;
                line-height: 117px;
                letter-spacing: 63px;
            }
        }
        &__main {
            width: 83%;
            grid-template-columns: 66% 1fr;
            &-text {
                font-size: 19px;
            }
        }
    }
}