.contact {
    padding-top: 20px;
    padding-bottom: 30px;
    &__info {
        margin-bottom: 31px;
        &-adress {
            font-weight: 400;
            font-size: 21px;
            line-height: 30px;
            color: var(--main);
            padding-bottom: 30px;
            border-bottom: 4px solid var(--grey-separator);
        }
        &-tel-mail {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            padding-top: 30px;
            margin-bottom: 30px;
            border-bottom: 4px solid var(--grey-separator);
        }
        &-tel {
            font-weight: 400;
            font-size: 21px;
            line-height: 30px;
            color: var(--main-alt);
            margin-bottom: 15px;
            align-self: flex-start;
        }
        &-mail {
            font-weight: 400;
            font-size: 21px;
            line-height: 30px;
            color: var(--active-regular);
            margin-bottom: 30px;
            transition: 300ms;
            align-self: flex-start;
            &:hover {
                color: var(--accent);
            }
        }
        &-facebook {
            display: inline-flex;
            align-items: center;
            font-weight: 700;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: var(--active-regular);
            transition: 300ms;
            &-img {
                margin-right: 10px;
                & path {
                    transition: 300ms;
                }
            }
            &:hover {
                color: var(--accent);
            }
            &:hover path {
                fill: var(--accent);
            }
        }
    }
    &__form {
        display: grid;
        grid-template-columns: 90% 10%;
        grid-template-rows: min-content min-content;
        align-items: start;
        width: 100%;
        background-color: var(--grey);
        padding: 30px;
        border-radius: 12px;
    }
}
@media screen and (min-width: 768px) {
    .contact {
        padding-bottom: 60px;
    }
}
@media screen and (min-width: 1024px) {
    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
    }
}
@media screen and (min-width: 1440px) {
    .contact {
        width: 80%;
        margin: 0 auto;
    }
}