.consistent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    &__nav {
        width: 100%;
        display: flex;
        overflow: auto;
        padding-left: 30px;
        padding-bottom: 15px;
        &::-webkit-scrollbar { 
            width: 0px; 
        }
        &-btn {
            cursor: pointer;
            font-weight: 700;
            font-size: 30px;
            line-height: 37px;
            letter-spacing: 1px;
            color: var(--grey-text);
            background-color: transparent;
            border: none;
            white-space: nowrap;
            margin-right: 30px;
            &:hover {
                color: transparent;
                background-clip: text;
                background-image: var(--gradient-red-text);
            }
            &--active {
                color: transparent;
                background-clip: text;
                background-image: var(--gradient-red-text);
            }
        }
    }
    &__arcticles {
        &-card {
            padding-top: 30px;
            border-top: 4px solid rgba(255, 255, 255, 0.3);
        }
        &-title {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
            margin-bottom: 30px;
        }
        &-text {
            font-weight: 400;
            font-size: 19px;
            line-height: 30px;
            color: #FFFFFF;
        }
    }
    
}
@media screen and (min-width: 768px) {
    .consistent {
        padding-top: 45px;
        padding-bottom: 60px;
        &__nav {
            &-btn {
                font-size: 38px;
                line-height: 46px;
                letter-spacing: 2px;
            }
        }
        &__arcticles {
            padding-top: 28px;
            &-card {
                padding-top: 60px;
            }
            &-title {
                font-size: 30px;
                line-height: 37px;
            }
        }
    }
}
@media screen and (min-width: 1024px) {
    .consistent {
        padding-top: 45px;
        flex-direction: row;
        &__arcticles-card {
            padding-top: 0;
            border: none;
        }
        &__nav {
            width: 49%;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            padding: 14px 60px 14px 0;
            border-bottom: none;
            border-right: 4px solid rgba(255, 255, 255, 0.3);
            &-btn {
                margin-right: 0;
                &:not(:last-child) {
                    margin: 0 0 30px 0;
                }
            }
        }
        &__arcticles {
            padding: 0 0 0 51px;
            width: 50%;
        }
    }
}
@media screen and (min-width: 1440px) {
    .consistent {
        &__nav {
            width: 43%;
        }
    }
}