.header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 10%;
    grid-template-rows: min-content min-content;
    gap: 15px;
    padding: 0 15px 0 15px;
    &__wrap {
        position: relative;
        background: url(../img/header-bg-img.svg),
                    var(--gradient-supersoft);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 524px 600px, cover;
        border-radius: 0 0 12px 12px;
        &::before {
            content: '';
            background: #E7E7F2;
            height: 10px;
            border-radius: 0 0 12px 12px;
            position: absolute;
            left: 40px;
            right: 40px;
            bottom: -20px;
        }
        &::after {
            content: '';
            background: #CACADB;
            height: 10px;
            border-radius: 0 0 12px 12px;
            position: absolute;
            left: 20px;
            right: 20px;
            bottom: -10px;
        }
    }
    &__info {
        display: flex;
        grid-column: span 2;
        padding: 10px 15px 10px 15px;
        margin: 0 -15px;
        background: rgba(245, 245, 250, 0.2);
        &--white {
            background: var(--grey);
        }
        &-lang {
            display: inline-block;
            padding: 5px 7px;
            border-radius: 8px;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            letter-spacing: 1px;
            color: #FFFFFF;
            text-transform: uppercase;
            transition: 300ms;
            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
            &--active {
                background-color: var(--accent);
                &:hover {
                    background-color: var(--accent);
                }
            }
            &--white {
                color: var(--grey-text);
                &:hover {
                    background: var(--grey);
                }
            }
        }
        &-tel {
            display: inline-block;
            margin-left: auto;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            text-align: right;
            color: #FFFFFF;
            &--white {
                color: var(--grey-text);
            }
        }
        &-adress {
            display: none;
        }
        &-facebook {
            display: none;
        }
    }
    &__logo {
        justify-self: start;
        align-self: start;
        display: flex;
        &-page {
            position: relative;
            top: -7px;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: var(--main);
            &::before {
                content: '';
                display: inline-block;
                position: relative;
                height: 26px;
                width: 4px;
                background-color: var(--accent);
                transform: skewX(340deg);
                margin: 0 7px;
                bottom: -7px;
            }
        }
    }
    &__nav {
        justify-self: end;
        &-btn {
            cursor: pointer;
            background-color: transparent;
            border: none;
            border-radius: 8px;
            &:active {
                background-color: var(--grey-separator);
            }
            &--white path{
                stroke: var(--main);
            }
        }
        &-menu {
            width: 100%;
            position: absolute;
            left: 0px;
            top: 50px;
            display: flex;
            flex-direction: column;
            padding: 12px 12px 12px 12px;
            border-radius: 12px;
            background-color: #FFFFFF;
            grid-column: 1/ 3;
            &-btn {
                border: none;
                background-color: transparent;
                cursor: pointer;
                align-self: flex-end;
                margin-bottom: 27px;
                border-radius: 8px;
                &:active {
                    background-color: var(--grey-separator);
                }
            }
            &-link {
                display: block;
                width: 100%;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                color: #24A3FF;
                padding: 7px 20px;
                margin-bottom: 15px;
                border-radius: 12px;
                background-color: var(--grey);
                &:active {
                    background-color: var(--grey-separator);
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;
        padding-top: 38px;
        padding: 40px 60px 0 60px;
        &__wrap {
            background-size: 893px 1024px, cover;
        }
        &__info {
            align-items: center;
            background-color: transparent;
            margin-bottom: 3px;
            &-adress {
                display: block;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                text-align: right;
                color: #FFFFFF;
                &--white {
                    color: var(--grey-text);
                }
            }
            &-tel {
                margin-left: 0px;
            }
            &-facebook {
                display: block;
                &::before {
                    content: '';
                    display: inline-flex;
                    position: relative;
                    margin: 0 2px 0 6px;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: var(--grey-separator);
                    top:-7px;
                }
                &:hover path {
                    transition: 300ms;
                    fill: var(--accent);
                }
                &--white path {
                    fill: var(--grey-text);
                }
            }
            &--circle::before {
                content: '';
                display: inline-flex;
                position: relative;
                margin: 0 6px;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: var(--grey-separator);
                top:-2px;
            }
        }
        &__logo {
            margin-bottom: 10px;
            &-img {
                width: 130px;
                height: 60px;
            }
            &-page {
                font-size: 36px;
                line-height: 44px;
                top: -13px;
                &::before {
                    width: 6px;
                    height: 47px;
                    bottom: -13px;
                }
            }
        }
        &__nav {
            &-btn {
                display: none;
            }
            &-menu {
                position: static;
                display: flex;
                flex-direction: row;
                padding: 0;
                background-color: transparent;
                &-btn {
                    display: none;
                }
                &-link {
                    width: auto;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: right;
                    color: #FFFFFF;
                    padding: 0;
                    background-color: transparent;
                    border-bottom: 2px solid transparent;
                    border-radius: 0;
                    transition: 300ms;
                    &:not(:last-child) {
                        margin-right: 16px;
                    }
                    &:hover {
                        border-bottom-color: #FFFFFF;
                    }
                    &:active {
                        background-color: transparent;
                    }
                    &--white {
                        color: var(--active-regular);
                        &-active {
                            color: var(--accent);
                            border-bottom-color: var(--accent);
                        }
                        
                        &:hover {
                            border-bottom-color: var(--active-regular);
                        }
                    }
                }
                & &-link--white-active:hover {
                    border-bottom-color: var(--accent);
                }
            }
        }
    }
}
@media screen and (min-width: 1024px) {
    .header {
        display: grid;
        grid-template-columns: 1fr 60%;
        gap: 0;
        &__wrap {
            background-size: 670px 768px, cover;
        }
        &__info {
            padding: 11px 15px 11px 15px;
            grid-column: 2 / 3;
            margin-bottom: 0;
            justify-content: flex-end;
        }
        &__logo {
            padding-top: 11px;
            grid-row: 1 / 3;
            margin-bottom: 0;
        }
        &__nav-menu {
            width: 100%;
        }
    }
}
@media screen and (min-width: 1440px) {
    .header {
        padding: 40px 30px 0 30px;
        &__wrap {
            background-size: 697px 799px, cover;
        }
    }
}