.modal {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: min-content min-content;
    align-items: start;
    width: 100%;
    height: 100vh;
    background-color: var(--grey);
    padding: 30px;
    overflow: auto;
    &__wrap {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background: var(--main);
        overflow: auto;
    }
    &__wrap.is-hidden {
        display: none;
    }
    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        color: transparent;
        background-clip: text;
        background-image: var(--gradient-red-text-l);
        margin-bottom: 30px;
    }
    &__btn {
        justify-self: end;
        display: inline-flex;
        cursor: pointer;
        border: none;
        background-color: transparent;
        border-radius: 8px;
        &:hover {
            background-color: var(--grey-separator);
        }
    }
    &__form {
        grid-column: 1 / 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-input {
            width: 100%;
            padding: 14px;
            border: 1px solid transparent;
            border-radius: 8px;
            margin-bottom: 15px;
            outline: none;
            font-family: 'Montserrat', 'Arial', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 26px;
            &::placeholder {
                font-family: 'Montserrat', 'Arial', sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 26px;
                color: var(--grey-text);
            }
            &:focus {
                border-color: var(--active-regular);
            }
            &:disabled {
                background: var(--grey-bg-alt);
                border: 1px solid var(--grey-bg-alt);
            }
        }
        &-mgs {
            font-family: 'Montserrat', 'Arial', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 26px;
            height: 130px;
            resize: none;
            &::placeholder {
                font-family: 'Montserrat', 'Arial', sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 26px;
                color: var(--grey-text);
            }
        }
        &-subtitle {
            align-self: flex-start;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: var(--grey-text);
            margin: 15px 0;
        }
        &-btn {
            cursor: pointer;
            width: 100%;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: #FFFFFF;
            background: var(--active-regular);
            box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
            border: none;
            border-radius: 12px;
            padding: 18px;
            margin-top: 15px;
            transition: 300ms;
            &:hover {
                background-color: var(--acvtive-hover);
            }
            &:active {
                background-color: var(--active);
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .modal {
        position: absolute;
        max-width: 650px;
        max-height: 612px;
        box-shadow: 0px 15px 80px rgba(40, 40, 86, 0.5);
        border-radius: 12px;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}