.team .slick-list {
    overflow: hidden;
}
.team .slick-track {
    display: flex;
}
.team .slick-dots {
    list-style: none;
    display: flex;
}
.team .slick-dots li {
    cursor: pointer;
    border: none;
    font-size: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--active-regular);
    opacity: 0.2;
    transition: 300ms;
    &:hover {
        opacity: 0.6;
    }
}
.team .slick-dots li:not(:last-child) {
    margin-right: 15px;
}
.team .slick-dots li button {
    font-size: 0;
    background-color: transparent;
    border: none;
}
.slick-dots .slick-active {
        opacity: 1;
        &:hover {
            opacity: 1;
        }
}
.team .slick-dots .slick-active {
        opacity: 1;
        &:hover {
            opacity: 1;
        }
}

//about slider


.about-slider .slick-track {
    display: grid;
    grid-auto-flow: column;
}
.about-slider .slick-list {
    overflow: hidden;
    margin: 0 -20px;
}
.about-slider .slick-slide {
    margin: 0 20px;
}
.about-slider .slick-dots {
    list-style: none;
    display: flex;
}
.about-slider .slick-dots li {
    cursor: pointer;
    border: none;
    font-size: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--active-regular);
    opacity: 0.2;
    transition: 300ms;
    &:hover {
        opacity: 0.6;
    }
}
.about-slider .slick-dots li:not(:last-child) {
    margin-right: 15px;
}
.about-slider .slick-dots li button {
    font-size: 0;
    background-color: transparent;
    border: none;
}
.about-slider .slick-dots .slick-active {
    opacity: 1;
    &:hover {
        opacity: 1;
    }
}