.slick {
    &-list {
        overflow: hidden;
    }
    &-track {
        display: flex;
    }
    &-dots {
        list-style: none;
        display: flex;
        li {
            cursor: pointer;
            border: none;
            font-size: 0;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: var(--active-regular);
            opacity: 0.2;
            transition: 300ms;
            &:hover {
                opacity: 0.6;
            }
        }
        li:not(:last-child) {
            margin-right: 15px;
        }
        li button {
            font-size: 0;
            background-color: transparent;
            border: none;
        }
    }
}
.slick-dots .slick-active {
        opacity: 1;
        &:hover {
            opacity: 1;
        }
}