@media screen and (max-width: 767px) {
    .header__nav-menu.is-hidden {
        display: none;
    }
    .no-scroll {
        overflow: hidden;
    }
}
.consistent__arcticles-card.is-hidden {
    display: none;
}
.no-scroll {
    overflow: hidden;
}